.card {
  background: $white;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 130px;
  margin-bottom: 8px;
  min-width: 130px;
  position: relative;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    background: $graybg;
    border-radius: 7px;
    bottom: 0;
    height: 40%;
    right: 0;
    width: 100%;
  }

  &-number {
    color: $graymedium;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 4px;
  }

  &-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &-image {
    height: 80px;
    margin-top: 24px;
  }

  &-name {
    color: $graydark;
    font-size: 10px;
    font-weight: 400;
  }
}