//Variables
$primary: #DC0A2D;
$bug: #A7B723;
$dark: #75574C;
$dragon: #7037FF;
$electric: #F9CF30;
$fairy: #E69EAC;
$fighting: #C12239;
$fire: #F57D31;
$flying: #A891EC;
$ghost: #70559B;
$normal: #AAA67F;
$grass: #74CB48;
$ground: #DEC16B;
$ice: #9AD6DF;
$poison: #A43E9E;
$psychic: #FB5584;
$rock: #B69E31;
$steel: #B7B9D0;
$water: #6493EB;

$graydark: #212121;
$graymedium: #666666;
$graylight: #E0E0E0;
$graybg: #EFEFEF;
$white: #FFFFFF;

//Components
@import "./components/header.scss";
@import "./components/card.scss";
@import "./components/card-detail.scss";
@import "./components/stats-bar.scss";

.pokedex {
  background: $primary;
  margin: 0 auto;
  padding: 4px;

  &-content {
    background: $white;
    border-radius: 8px;
    box-shadow: inset 0px 1px 3px rgba(#000000, 0.75);
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 180px);
    justify-content: space-between;
    min-height: 512px;
    padding: 24px 12px;
  }

  &-navigation {
    display: flex;
    justify-content: center;
    margin: 5px 0;
  
    button {
      padding: 0 4px;
    }
  }

  &.grass {
    background: $grass;

    h2, 
    .stat-bar p {
      color: $grass;
    }

    .progress-bar {
      background: rgba($grass, .25);

      .filler {
        background: $grass;
      }
    }
  }

  &.bug {
    background: $bug;

    h2,
    .stat-bar p {
      color: $bug;
    }

    .progress-bar {
      background: rgba($bug, .25);

      .filler {
        background: $bug;
      }
    }
  }

  &.dark {
    background: $dark;

    h2,
    .stat-bar p {
      color: $dark;
    }

    .progress-bar {
      background: rgba($dark, .25);

      .filler {
        background: $dark;
      }
    }
  }

  &.dragon {
    background: $dragon;

    h2, 
    .stat-bar p {
      color: $dragon;
    }

    .progress-bar {
      background: rgba($dragon, .25);

      .filler {
        background: $dragon;
      }
    }
  }

  &.electric {
    background: $electric;

    h2,
    .stat-bar p {
      color: $electric;
    }

    .progress-bar {
      background: rgba($electric, .25);

      .filler {
        background: $electric;
      }
    }
  }

  &.fairy {
    background: $fairy;

    h2,
    .stat-bar p {
      color: $fairy;
    }

    .progress-bar {
      background: rgba($fairy, .25);

      .filler {
        background: $fairy;
      }
    }
  }

  &.fighting {
    background: $fighting;

    h2,
    .stat-bar p {
      color: $fighting;
    }

    .progress-bar {
      background: rgba($fighting, .25);

      .filler {
        background: $fighting;
      }
    }
  }

  &.fire {
    background: $fire;

    h2,
    .stat-bar p {
      color: $fire;
    }

    .progress-bar {
      background: rgba($fire, .25);

      .filler {
        background: $fire;
      }
    }
  }

  &.flying {
    background: $flying;

    h2,
    .stat-bar p {
      color: $flying;
    }

    .progress-bar {
      background: rgba($flying, .25);

      .filler {
        background: $flying;
      }
    }
  }

  &.ghost {
    background: $ghost;

    h2,
    .stat-bar p {
      color: $ghost;
    }

    .progress-bar {
      background: rgba($ghost, .25);

      .filler {
        background: $ghost;
      }
    }
  }

  &.normal {
    background: $normal;

    h2,
    .stat-bar p {
      color: $normal;
    }

    .progress-bar {
      background: rgba($normal, .25);

      .filler {
        background: $normal;
      }
    }
  }

  &.ground {
    background: $ground;

    h2,
    .stat-bar p {
      color: $ground;
    }

    .progress-bar {
      background: rgba($ground, .25);

      .filler {
        background: $ground;
      }
    }
  }

  &.ice {
    background: $ice;

    h2,
    .stat-bar p {
      color: $ice;
    }

    .progress-bar {
      background: rgba($ice, .25);

      .filler {
        background: $ice;
      }
    }
  }

  &.poison {
    background: $poison;

    h2,
    .stat-bar p {
      color: $poison;
    }

    .progress-bar {
      background: rgba($poison, .25);

      .filler {
        background: $poison;
      }
    }
  }

  &.psychic {
    background: $psychic;

    h2,
    .stat-bar p {
      color: $psychic;
    }

    .progress-bar {
      background: rgba($psychic, .25);

      .filler {
        background: $psychic;
      }
    }
  }

  &.rock {
    background: $rock;

    h2,
    .stat-bar p {
      color: $rock;
    }

    .progress-bar {
      background: rgba($rock, .25);

      .filler {
        background: $rock;
      }
    }
  }

  &.steel {
    background: $steel;

    h2,
    .stat-bar p {
      color: $steel;
    }

    .progress-bar {
      background: rgba($steel, .25);

      .filler {
        background: $steel;
      }
    }
  }

  &.water {
    background: $water;

    h2,
    .stat-bar p {
      color: $water;
    }

    .progress-bar {
      background: rgba($water, .25);

      .filler {
        background: $water;
      }
    }
  }
}